<h3>Observation notes</h3>

<div>
<table class="table table-sm table-striped table-bordered table-hover">
<thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Log date</th>
    <th scope="col">Observation</th>
    <th scope="col">Author name</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
 
  <% loggable.observations.each do |tso| %>
    <tr>
    <td><%= tso.id %></td>
    <td><%= tso.log_date %></td>
    <td><%= tso.note %></td>
    <td><%= tso.author_name %></td>
    <td><%= link_to 'Show', trail_site_observation_path(trail_site_id,tso.id) %></td>
      <td><%= link_to 'Edit', edit_trail_site_observation_path(trail_site_id,tso.id) %></td>
      <td><%= link_to 'Destroy', trail_site_observation_path(trail_site_id,tso.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</div>