<h1>Observations#index</h1>
 
<table>
  <tr>
    <th>ID</th>
    <th>Author name</th>
    <th>Note</th>
    <th>Log date</th>
    <th colspan="4"></th>
  </tr>
 
  <% @trailsite.observations.each do |tso| %>
    <tr>
      <td><%= tso.id %></td>
      <td><%= tso.author_name %></td>
      <td><%= tso.note %></td>
      </td>
      <td><%= tso.log_date %></td>
      <td><%= link_to 'Show', trail_site_observation_path(tso) %></td>
      <td><%= link_to 'Edit', edit_trail_site_observation_path(tso) %></td>
      <td><%= link_to 'Destroy', trail_site_observation_path(tso),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

