<!-- /app/views/trail_sites/show.html.erb-->
<h2>Show TrailSite: <%= @trail_site.name %></h2>
<p>
   <strong>id:</strong>
   <%= @trail_site.id %>
</p>
<p>
   <strong>Name:</strong>
   <%= @trail_site.name %>
</p>
<p>
   <strong>Is trail head?:</strong>
   <%= @trail_site.is_trail_head %>
</p>
<p>
   <strong>Section number:</strong>
   <%= @trail_site.section_number %>
</p>
<p>
   <strong>Distance from trail start:</strong>
   <%= @trail_site.distance_from_trail_start %>
</p>
<p>
   <strong>Description:</strong>
   <%= @trail_site.description %>
</p>
<p>
   <strong>Latitude:</strong>
   <%= @trail_site.latitude %>
</p>
<p>
   <strong>Longitude:</strong>
   <%= @trail_site.longitude %>
</p>
<p>
   <strong>Elevation:</strong>
   <%= @trail_site.elevation %>
</p>
<%= render partial: "observations/observation_notes", locals: {loggable: @trail_site, trail_site_id: @trail_site.id}%>
<%= render partial: "observations/form", locals: {loggable: @trail_site}%>
<%= link_to 'Edit', edit_trail_site_path(@trail_site) %> |
<%= link_to 'Back', trail_sites_path %>