<!-- /app/views/trail_sites/show.html.erb-->
<h2><%= @trail_site.name %></h2>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <p class="card-text">ID: <%=@trail_site.id%></p>
        <p class="card-text">Section: <%= @trail_site.section_number %></p>
        <p class="card-text">Distance East: <%= @trail_site.distance_from_trail_start %></p>
        <p class="card-text">Description: <%= @trail_site.description %></p>
        <p class="card-text">Latitude: <%= @trail_site.latitude %></p>
        <p class="card-text">Longitude: <%= @trail_site.longitude %></p>
        <p class="card-text">Elevation: <%= @trail_site.elevation %></p>
        <%= link_to 'Edit', edit_trail_site_path(@trail_site.id),class:"card-link" %>
        <%=link_to "Back", :back, class: "card-link"%>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
<%= render partial: "observations/observation_notes", locals: {loggable: @trail_site, trail_site_id: @trail_site.id}%>
<%= render partial: "observations/form", locals: {loggable: @trail_site}%>

  </div>
</div>