<!DOCTYPE html>
<html>
  <head>
    <title>WestmacsappRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">
  <div id="wma-banner"><h1>WestMacsApp on Rails V<h1></div>
    <%= yield %>
    <div id="wma-footer"><%= link_to "Home", root_path %></div>
    </div>
    
  </body>
</html>
